@font-face{
    font-family: Koulen;
    src: url(../font/Koulen/Koulen-Regular.ttf);
}

@font-face{
    font-family: Nunito;
    src: url(../font/Nunito/static/Nunito-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description{
    font-family: Nunito;
    color: white;
}

.description #desc_bin{
    display: none;
}

.off{
    display: none;
}

.msg-alertas-bin{ 
    width:100%; 
    overflow:hidden; 
    margin:0 auto; 
    padding:0.1px 10%; 
    position: fixed;
    text-align: center;
} 

.msg-alertas-dec{ 
    width:100%; 
    overflow:hidden; 
    margin:0 auto; 
    padding:0.1px 10%; 
    position: fixed;
    text-align: center;
} 

.ms{ 
   width:100%; 
   margin:auto;  
   padding:1em; 
   float:left; 
   display:block; 
   margin-bottom:10px;
   font-family:Verdana, Arial, Helvetica, sans-serif; 
   font-weight:100; 
   font-size:16px;
}
    
.erro{ 
    background-color:#FFCACA;
    border:2px #a60202 solid;
    color:#a60202;
    border-radius:5px; 
}

body{
    background-color: #232830;
}

.container{
    background-color: rgba(66, 66, 66, 0.438);
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 5vh 30vw 0;
    padding: 10px;
    border-radius: 15px;
}

.labels{
    display: flex;
    flex-direction: column;
}

.active{
    background-color:#036efb;
	border-radius: 8px;
    border: none;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:19px 39px;
	text-decoration:none;
    transition: .3s;
    margin-top: 1vh;
    max-width: 100%;
    text-align: center;
}

h1{
    color:white;
    font-family: "Koulen";
    text-align: center;
    font-size: 3em;
}

input{
    padding: 12px;
    font-size: 16px;
    background-color: #232830;
    color: #ffffff;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

input:focus{
    outline:none;
}

label{
    color: white;
    font-family: "Nunito";
}

.buttons{
	background-color:#036efb;
	border-radius:28px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:19px 39px;
	text-decoration:none;
    transition: .3s;
    margin-top: 1vh;
}
.buttons:hover {
	background-color: #036efb48;
}
.buttons:active {
	position:relative;
	top:1px;
}

@media(max-width: 850px){
    .container{
        margin: 5vh 20vw 0;
    }



    .msg-alertas-bin{ 
        width:100%; 
        overflow:hidden; 
        margin:0 auto; 
        padding:10px; 
        position: fixed;
        text-align: center;
    } 
    
    .msg-alertas-dec{ 
        width:100%; 
        overflow:hidden; 
        margin:0 auto; 
        padding:10px; 
        position: fixed;
        text-align: center;
    } 
}

@media(max-width: 580px){
    .container{
        margin: 5vh 10vw 0;
    }
}

@media(max-width: 412px){
    .container{
        margin: 0;
        min-height: 100vh;
    }
}

@media(max-height: 1400px){
    @media(max-width: 1000px){
        .container{
            margin: 0;
            min-height: 100vh;
        }
    }
}